<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO SUPER HOME</a>
<a href="/users/new">MAKE A NEW USER</a>
    <% usersOnTheTemplate.forEach((user)=>{ %>
        <li>
            <a href="/users/<%=user._id%>"><%=user.username%></a>
            <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </li>
    <% }) %>
</body>
</html>