<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO SUPER HOME</a>
<a href="/cats/new">MAKE A NEW CAT</a>
    <% catsOnTheTemplate.forEach((cat)=>{ %>
        <li>
            <a href="/cats/<%=cat._id%>"><%=cat.name%></a>
            <p>This cat is <%=cat.age%> years old</p>
            <form action="/cats/<%=cat._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </li>
    <% }) %>
</body>
</html>