<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO SUPER HOME</a>
<a href="/cats">CATS GO HOME</a>
     <form action="/cats" method="POST">
        owner: <select name="userId">
        <% for (let i = 0; i < usersOnTemplate.length; i++) {%>
          <option value="<%=usersOnTemplate[i]._id%>"><%=usersOnTemplate[i].username%></option>

          <%}%>
        </select><br/>
        name: <input type="text" name="name">
        age: <input type="number" name="age">
        <input type="submit">
    </form>
</body>
</html>