<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO HOME</a>
<a href="/cats">Go back to cats Index</a>
    <h1>Here is an enslaver of humans named <%= catOnTheTemplate.name %></h1>
      <h2><%= catOnTheTemplate.name %>'s owner is <%=user.username%></h2>
    <a href="/cats/<%=catOnTheTemplate._id%>/edit">THIS CAT CAAAN CHANGE ITS STRIPES</a>
</body>
</html>